# __Data Integration and Analysis__ 

## Objectives

After completing this lab, you will be able to:

1. Use `requests` to retrieve data from a website using an API (application programming interface)
2. Understand `json` objects and their structures
3. Understand `datetime` library, objects and their attributes, and how to convert a string into a datetime object
4. Write data into a `csv` file, following a specific format
5. Read a `csv` file into a Pandas DataFrame
6. Perform Pandas DataFrame and Series indexing and slicing
7. Use the apply and lambda functions to perform data manipulation on DataFrames columns

---------------------------

## The `requests` Library

Requests is a simple HTTP library. Requests supports all HTTP methods, including the following frequently used methods:

|   Method  |   Description                                                 | 
|---------- | -----------------------------------------                     |
| GET       | The `get` method is used to retieve data (head, body)         |
| HEAD      | The `head` method requests only the head of the response      |
| POST      | Used to submit data to the server, username and password, for instance    |

The other methods are `PUT`, `DELETE`, `CONNECT`, `OPTIONS`, `TRACE`, and `PATCH`

In [1]:
import requests
import json
import pandas as pd

In [9]:
response = requests.get('https://fakerapi.it/api/v1/persons?_quantity=80')

General attributes of the request/response:

In [10]:
# attributes of the requests object (response)
print('requested url:', response.url)
print('status of the request:', response.status_code)

requested url: https://fakerapi.it/api/v1/persons?_quantity=80
status of the request: 200

Request and Response Headers

In [11]:
request_headers = response.request.headers
response_headers = response.headers

print("Request headers\n"+'-'*45)
for key, val in request_headers.items():
    print('{:<20s}: {:s}'.format(key, val))
    
print("\nResponse headers\n"+'-'*45)
for key, val in response_headers.items():
    print('{:<35s}: {:s}'.format(key, val))

Request headers
---------------------------------------------
User-Agent          : python-requests/2.32.5
Accept-Encoding     : gzip, deflate
Accept              : */*
Connection          : keep-alive

Response headers
---------------------------------------------
Server                             : nginx
Content-Type                       : application/json
Transfer-Encoding                  : chunked
Connection                         : keep-alive
Vary                               : Accept-Encoding
X-Powered-By                       : PHP/8.3.8
Cache-Control                      : no-cache, private
Date                               : Tue, 20 Jan 2026 02:15:40 GMT
X-RateLimit-Limit                  : 60
X-RateLimit-Remaining              : 59
Access-Control-Allow-Origin        : *
X-UA-Compatible                    : IE=Edge,chrome=1
Content-Encoding                   : gzip

## Handling `json` Objects

A JavaScript Object Notation (`json`) object is a text-based format for representing structured data of the form attribute-value pairs (similar to dictionary in Python). A value can be an array, a string, a number, or even a json object as well.

In [12]:
# the returned content of the response is a bytes array that contains a json object
# you can use response.json() to convert the retrieved content into a json object
# or
# json_response = json.loads(response.content)
json_response = response.json()

In [13]:
# keys (attributes) of the json object
json_response.keys()

dict_keys(['status', 'code', 'locale', 'seed', 'total', 'data'])

In [16]:
print(json_response['seed'])

None

In [17]:
json_response['status'], json_response['code']

('OK', 200)

In [18]:
num_of_records = json_response['total']
print(f'Number of records: {num_of_records}')

Number of records: 80

In [19]:
# locale 
print(f'Language: {json_response['locale']}')

Language: en_US

In [20]:
# they value corresponding to the data attribute is a json object with the following keys.
json_response['data'][0].keys()

dict_keys(['id', 'firstname', 'lastname', 'email', 'phone', 'birthday', 'gender', 'address', 'website', 'image'])

In [21]:
json_response['data'][15]

{'id': 16,
 'firstname': 'Clair',
 'lastname': 'Schowalter',
 'email': 'yrolfson@yahoo.com',
 'phone': '+15597740566',
 'birthday': '2002-05-28',
 'gender': 'male',
 'address': {'id': 1,
  'street': '52534 Brain Lakes',
  'streetName': 'Fahey Mountains',
  'buildingNumber': '808',
  'city': 'Hyattshire',
  'zipcode': '01072',
  'country': 'Indonesia',
  'country_code': 'ID',
  'latitude': -62.466924,
  'longitude': 64.906268},
 'website': 'http://ullrich.com',
 'image': 'http://placeimg.com/640/480/people'}

## Writing Data into a `csv` File

In [22]:
# data is our focus:
with open('persons.csv', 'w') as file:
    file.write('firstname,lastname,email,phone,birthday,gender,country')
    for indx in range(num_of_records):
        # create an empty list
        list1 = []
        
        # append the json values to list1's content
        list1.append(json_response['data'][indx]['firstname'])
        list1.append(json_response['data'][indx]['lastname'])
        list1.append(json_response['data'][indx]['email'])
        list1.append(json_response['data'][indx]['phone'])
        list1.append(json_response['data'][indx]['birthday'])
        list1.append(json_response['data'][indx]['gender'])
        list1.append(json_response['data'][indx]['address']['country'])
        
        # write a line to the file persons.csv
        # lines are separated by the new line character `\n`
        # values are separated by a comma `,`
        file.write('\n' + ','.join(list1))

## Data Manipulation using Pandas

### Reading and exploring data

In [23]:
# Load the data into a csv file
df = pd.read_csv('persons.csv')

In [24]:
# display the shape of the loaded dataframe
print(f'data shape: {df.shape}')
print(f'dataset size: {df.shape[0]}\nnumber of features: {df.shape[1]}')

data shape: (80, 7)
dataset size: 80
number of features: 7

In [25]:
# display the first 5 rows of the
df.head(10)

,firstname,lastname,email,phone,birthday,gender,country
0,Ava,Bednar,myrtie.abshire@gmail.com,12144498712,2000-02-17,female,Cyprus
1,Loma,Buckridge,elyse88@hotmail.com,18329948344,2003-11-10,female,Venezuela
2,German,Cassin,desiree76@yahoo.com,12098792510,1975-09-23,male,Nauru
3,Johnathan,Wolff,eruecker@hotmail.com,13467430417,1990-02-04,male,Iceland
4,Reva,Dicki,kathlyn.kuphal@hotmail.com,19202287122,1979-03-07,female,Guadeloupe
5,Donato,Klocko,cartwright.amina@hotmail.com,16604239406,1939-03-05,male,Caribbean Netherlands
6,Melvina,Olson,daryl88@altenwerth.biz,14806936085,1974-08-11,male,Kuwait
7,Jennifer,Johnson,gene62@ledner.biz,18154165329,2025-11-10,female,Switzerland
8,Anabelle,Morar,bogan.ara@yahoo.com,15175910177,2011-05-10,female,Andorra
9,Sylvester,Schneider,tmcglynn@heidenreich.com,19073647663,1964-03-05,male,South Sudan

-------------------

### Indexing and slicing Pandas dataframes/series

In [26]:
## Task 1
# retrieve the  columns 'firstname', 'lastname', and 'birthday', and store them in a new dataframe
df2 = df[['firstname', 'lastname', 'birthday']]
df2.head(10)

   firstname   lastname    birthday
0        Ava     Bednar  2000-02-17
1       Loma  Buckridge  2003-11-10
2     German     Cassin  1975-09-23
3  Johnathan      Wolff  1990-02-04
4       Reva      Dicki  1979-03-07
5     Donato     Klocko  1939-03-05
6    Melvina      Olson  1974-08-11
7   Jennifer    Johnson  2025-11-10
8   Anabelle      Morar  2011-05-10
9  Sylvester  Schneider  1964-03-05

In [27]:
## Task 2
# Index a specific row/column element
df.at[2, 'birthday']

'1975-09-23'

In [28]:
## Task 2 can also be done as follows
# loc is a label-based selection function
# the rows are by default labeled numerically and 2 is interpreted as a label of the row
df.loc[2].at['birthday']

'1975-09-23'

In [29]:
## Task 3
# extract the first five rows from df
# the method iloc: integer-location based indexing of a dataframe or series
# remember that a series is a column of a dataframe
df.iloc[0:10].head()

,firstname,lastname,email,phone,birthday,gender,country
0,Ava,Bednar,myrtie.abshire@gmail.com,12144498712,2000-02-17,female,Cyprus
1,Loma,Buckridge,elyse88@hotmail.com,18329948344,2003-11-10,female,Venezuela
2,German,Cassin,desiree76@yahoo.com,12098792510,1975-09-23,male,Nauru
3,Johnathan,Wolff,eruecker@hotmail.com,13467430417,1990-02-04,male,Iceland
4,Reva,Dicki,kathlyn.kuphal@hotmail.com,19202287122,1979-03-07,female,Guadeloupe

In [30]:
## Task 4
# display the emails of the first and third person
# note that df['email'] is a pandas series
df['email'].iloc[[0, 2]]

0    myrtie.abshire@gmail.com
2         desiree76@yahoo.com
Name: email, dtype: object

In [32]:
df.gender == 'male'

0     False
1     False
2      True
3      True
4     False
      ...
75     True
76     True
77     True
78    False
79     True
Name: gender, Length: 80, dtype: bool

In [33]:
## Task 5
# select male persons
# df.gender == 'male'
df[df.gender == 'male'].head()

,firstname,lastname,email,phone,birthday,gender,country
2,German,Cassin,desiree76@yahoo.com,12098792510,1975-09-23,male,Nauru
3,Johnathan,Wolff,eruecker@hotmail.com,13467430417,1990-02-04,male,Iceland
5,Donato,Klocko,cartwright.amina@hotmail.com,16604239406,1939-03-05,male,Caribbean Netherlands
6,Melvina,Olson,daryl88@altenwerth.biz,14806936085,1974-08-11,male,Kuwait
9,Sylvester,Schneider,tmcglynn@heidenreich.com,19073647663,1964-03-05,male,South Sudan

In [34]:
# Task 5 can also be performed as follows
df[df['gender'].isin(['male'])]

,firstname,lastname,email,phone,birthday,gender,country
2,German,Cassin,desiree76@yahoo.com,12098792510,1975-09-23,male,Nauru
3,Johnathan,Wolff,eruecker@hotmail.com,13467430417,1990-02-04,male,Iceland
5,Donato,Klocko,cartwright.amina@hotmail.com,16604239406,1939-03-05,male,Caribbean Netherlands
6,Melvina,Olson,daryl88@altenwerth.biz,14806936085,1974-08-11,male,Kuwait
9,Sylvester,Schneider,tmcglynn@heidenreich.com,19073647663,1964-03-05,male,South Sudan
11,Trenton,Swaniawski,hessel.jadon@gmail.com,15202551642,1960-05-09,male,Brunei
13,Faustino,Zieme,morissette.wilmer@hotmail.com,17475694765,2020-05-04,male,Canada
15,Clair,Schowalter,yrolfson@yahoo.com,15597740566,2002-05-28,male,Indonesia
19,Clark,Lynch,ncorkery@hotmail.com,18152409114,2015-07-14,male,Macao SAR China
20,Matt,Olson,rosalinda21@yahoo.com,12402166213,1990-02-23,male,St. Pierre & Miquelon
21,Jacey,Schimmel,rebekah62@yahoo.com,18207211916,1965-05-08,male,Gibraltar
23,Joe,Lynch,esteban37@homenick.com,14106536115,2023-02-11,male,Chile
24,Benny,Zulauf,roob.adeline@yahoo.com,13855308591,1945-11-30,male,Japan
28,John,Gleichner,nellie25@hotmail.com,16402514194,1953-08-03,male,Indonesia
29,Antonio,Treutel,beaulah56@hahn.com,17346854651,2018-12-23,male,Guyana
30,Willis,Dickinson,santos.okuneva@hotmail.com,13044670114,1968-11-13,male,Turkmenistan
31,Guiseppe,Rice,jaskolski.ruthe@gibson.info,16016886790,1943-07-21,male,Greenland
32,Gerard,Parker,david.sawayn@gmail.com,14409406717,1972-03-12,male,Austria
34,Cristobal,Bauch,urban.armstrong@labadie.biz,15208397347,1958-06-22,male,Finland
36,Otho,Russel,klarkin@hotmail.com,15407585573,2000-07-28,male,St. Kitts & Nevis
38,Tyrique,Murazik,owuckert@gmail.com,12627702038,2012-07-25,male,Cameroon
42,Terrill,Langosh,margie18@gleichner.com,12315946265,1969-02-02,male,Zambia
43,Milton,Leuschke,mosciski.colby@gmail.com,15639256802,1959-04-19,male,Congo - Brazzaville
45,Joan,Kessler,kobe.koch@hotmail.com,15635209858,2025-02-17,male,Åland Islands
46,Harmon,Hodkiewicz,iward@dibbert.org,15748092814,1947-12-20,male,Zambia
47,Garrison,McKenzie,tfay@hotmail.com,14232709059,1998-09-20,male,Montenegro
52,Monroe,Schuppe,hschiller@gmail.com,19183810208,1954-04-24,male,Montserrat
53,Troy,Hahn,rcormier@hotmail.com,16786707378,2017-09-22,male,Dominican Republic
54,Jeramie,Weimann,jazmyne27@green.com,18728747378,2010-09-23,male,Vietnam
56,Ernest,Durgan,marcelino85@hotmail.com,13475097183,1964-09-19,male,Senegal
58,Rogers,Borer,deion79@rosenbaum.com,17737752241,1943-08-03,male,Italy
62,Destin,Spencer,smitham.guillermo@keebler.biz,19844901278,2017-05-23,male,Cocos (Keeling) Islands
65,Paxton,Bayer,brown.melyssa@rogahn.net,12145952712,2008-08-09,male,Liechtenstein
67,Kristofer,Borer,kihn.benjamin@lind.org,19546472399,2022-08-26,male,Syria
69,Reynold,Keeling,pearlie.quigley@schneider.com,19854320770,2007-08-15,male,Barbados
71,Khalid,Nitzsche,ynitzsche@turner.com,14247297481,1937-01-10,male,Papua New Guinea
72,Wyatt,Mitchell,elsa57@wolff.com,12544247732,1970-06-13,male,French Guiana
75,Erin,Cassin,kristoffer.mccullough@wilkinson.com,16236763947,1966-11-12,male,Curaçao
76,Ransom,Anderson,alvera22@yahoo.com,17866855123,2001-04-03,male,Pakistan
77,Juwan,Lehner,rogers.lubowitz@stark.biz,16192349636,1960-02-04,male,Slovakia
79,Giuseppe,Aufderhar,vkoss@stark.com,13518810870,1977-04-10,male,Djibouti

In [35]:
## Task 6
# Select persons with hotmail accounts
df[df['email'].str.contains('hotmail')].reset_index(drop=True)

,firstname,lastname,email,phone,birthday,gender,country
0,Loma,Buckridge,elyse88@hotmail.com,18329948344,2003-11-10,female,Venezuela
1,Johnathan,Wolff,eruecker@hotmail.com,13467430417,1990-02-04,male,Iceland
2,Reva,Dicki,kathlyn.kuphal@hotmail.com,19202287122,1979-03-07,female,Guadeloupe
3,Donato,Klocko,cartwright.amina@hotmail.com,16604239406,1939-03-05,male,Caribbean Netherlands
4,Faustino,Zieme,morissette.wilmer@hotmail.com,17475694765,2020-05-04,male,Canada
5,Clark,Lynch,ncorkery@hotmail.com,18152409114,2015-07-14,male,Macao SAR China
6,Alicia,Brekke,lwilkinson@hotmail.com,19562571175,1943-11-01,female,Taiwan
7,John,Gleichner,nellie25@hotmail.com,16402514194,1953-08-03,male,Indonesia
8,Willis,Dickinson,santos.okuneva@hotmail.com,13044670114,1968-11-13,male,Turkmenistan
9,Otho,Russel,klarkin@hotmail.com,15407585573,2000-07-28,male,St. Kitts & Nevis
10,Joan,Kessler,kobe.koch@hotmail.com,15635209858,2025-02-17,male,Åland Islands
11,Garrison,McKenzie,tfay@hotmail.com,14232709059,1998-09-20,male,Montenegro
12,Troy,Hahn,rcormier@hotmail.com,16786707378,2017-09-22,male,Dominican Republic
13,Ernest,Durgan,marcelino85@hotmail.com,13475097183,1964-09-19,male,Senegal

In [36]:
## Task 7
# select the fifth row
df.loc[4]

firstname                          Reva
lastname                          Dicki
email        kathlyn.kuphal@hotmail.com
phone                       19202287122
birthday                     1979-03-07
gender                           female
country                      Guadeloupe
Name: 4, dtype: object

In [37]:
## Task 8
# select the fifth row's email address
df.loc[4, 'email']

'kathlyn.kuphal@hotmail.com'

------------------------

### Data manipulation (Transform)
Notice that the phone number was loaded as an integer not as a string (the + character was removed). Let's verify that by displaying the information of the created dataframe.

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   firstname  80 non-null     object
 1   lastname   80 non-null     object
 2   email      80 non-null     object
 3   phone      80 non-null     int64
 4   birthday   80 non-null     object
 5   gender     80 non-null     object
 6   country    80 non-null     object
dtypes: int64(1), object(6)
memory usage: 4.5+ KB

In [39]:
# the columns data type can also be retrieved using the dtypes attribute
df.dtypes

firstname    object
lastname     object
email        object
phone         int64
birthday     object
gender       object
country      object
dtype: object

In [40]:
# convert the phone data type from int64 to str
# df['phone']
df.phone = df.phone.astype('str')

In [41]:
# verify the results
df.dtypes

firstname    object
lastname     object
email        object
phone        object
birthday     object
gender       object
country      object
dtype: object

What is `object`? Pandas supports `NumPy` data types (for numbers). Examples are `int8`, `int64` and `float64`. Pandas supports `datetime`, `timedelta`, and `category`, and `object` that refers to text values.

In [42]:
# display the first rows of the dataframe
df.head()

,firstname,lastname,email,phone,birthday,gender,country
0,Ava,Bednar,myrtie.abshire@gmail.com,12144498712,2000-02-17,female,Cyprus
1,Loma,Buckridge,elyse88@hotmail.com,18329948344,2003-11-10,female,Venezuela
2,German,Cassin,desiree76@yahoo.com,12098792510,1975-09-23,male,Nauru
3,Johnathan,Wolff,eruecker@hotmail.com,13467430417,1990-02-04,male,Iceland
4,Reva,Dicki,kathlyn.kuphal@hotmail.com,19202287122,1979-03-07,female,Guadeloupe

Notice that the phone number does not start with the `+` character, as it was the case in the original dataset. Let's assume that the data scientists or ML engineers requested appending a `+` at the beginning of the phone numbers. This is done as follows.

In [106]:
# The apply method applies the lambda function on each element of the df['phone'] column 
# (a column is a Series)
df['phone'] = df['phone'].apply(lambda x: '+'+x)

In [107]:
df.head(2)

,firstname,lastname,email,phone,birthday,gender,country
0,Lazaro,Kuhic,zboncak.johanna@gmail.com,+13208042718,1974-02-01,male,Malta
1,Nelle,McClure,powlowski.richmond@yahoo.com,+15595494884,1985-11-25,female,Luxembourg

-----------------------------

<br>
The marketing team initiated a campaign to target clients based on their age. They only care about customer's age. You were charged with the task to replace the birthday (which is a string that has the form yyyy-mm-dd as shown above) with the client's age (an integer).

In [111]:
# Example
from datetime import datetime

# a date as a string object
date_str = '1988-07-13'

# convert the string into a datetime object
# '%Y-%m-%d' is the date format
datetime_obj = datetime.strptime(date_str, '%Y-%m-%d')

# display the content of the datetime object
print(datetime_obj)

# display the day, month, and year of the datetime_obj object
# you can retrieve the hours, minutes, and seconds in the same way.
datetime_obj.day, datetime_obj.month, datetime_obj.year

1988-07-13 00:00:00

(13, 7, 1988)

Datetime formats:

|  Format   |   Description                 |
|-----------| ---------------               |
| %Y        | 4-digit year                  |
| %y        | 2-digit year                  |
| %m        | 2-digit month                 |
| %d        | 2-digit day                   |
| %H        | 2-digit hour (24-hour)        |
| %M        | 2-digit minute                |
| %S        | 2-digit seconds               |

In [112]:
# let's create a function to retrieve the birth year, given a date in string format
from datetime import datetime


def getAge(date_str):
    current_year = datetime.today().year
    date_val = datetime.strptime(date_str, '%Y-%m-%d')
    return current_year - date_val.year

In [113]:
df['age'] = df['birthday'].apply(lambda x: getAge(x)).astype('int8')

In [114]:
df.head()

,firstname,lastname,email,phone,birthday,gender,country,age
0,Lazaro,Kuhic,zboncak.johanna@gmail.com,+13208042718,1974-02-01,male,Malta,51
1,Nelle,McClure,powlowski.richmond@yahoo.com,+15595494884,1985-11-25,female,Luxembourg,40
2,Damien,Hammes,mohr.zander@beier.com,+18282736672,1991-01-18,male,Cook Islands,34
3,Jedidiah,Rolfson,leannon.domenico@gmail.com,+13464802710,1964-07-28,male,Niue,61
4,Coty,Purdy,tess38@considine.com,+13108836091,1976-01-17,male,Sri Lanka,49

In [115]:
# let us remove the birthday column
df.drop(['birthday'], inplace=True, axis=1)

In [116]:
df.head()

,firstname,lastname,email,phone,gender,country,age
0,Lazaro,Kuhic,zboncak.johanna@gmail.com,+13208042718,male,Malta,51
1,Nelle,McClure,powlowski.richmond@yahoo.com,+15595494884,female,Luxembourg,40
2,Damien,Hammes,mohr.zander@beier.com,+18282736672,male,Cook Islands,34
3,Jedidiah,Rolfson,leannon.domenico@gmail.com,+13464802710,male,Niue,61
4,Coty,Purdy,tess38@considine.com,+13108836091,male,Sri Lanka,49

In [120]:
# select people with ages between 40 and 60 year-old inclusive
df[(df['age'] >= 40) & (df['age'] <= 60)].reset_index(drop=True)

,firstname,lastname,email,phone,gender,country,age
0,Lazaro,Kuhic,zboncak.johanna@gmail.com,+13208042718,male,Malta,51
1,Nelle,McClure,powlowski.richmond@yahoo.com,+15595494884,female,Luxembourg,40
2,Coty,Purdy,tess38@considine.com,+13108836091,male,Sri Lanka,49
3,Cleo,Moen,ihirthe@gorczany.com,+17629930466,male,United Kingdom,52
4,Emmalee,Spinka,sorn@hackett.com,+16369663142,female,Montenegro,42
5,Nick,Heidenreich,howe.brooks@hotmail.com,+18056862050,male,Czechia,40
6,Lucius,Deckow,zena04@wilkinson.com,+12317640362,male,Kenya,50
7,Rod,Tillman,kamille.rolfson@weber.com,+15037883605,male,British Virgin Islands,42
8,Aida,Hamill,reba.gleason@leannon.net,+17143522768,female,Bangladesh,60
9,Brooke,Reichel,pascale.hettinger@yahoo.com,+18154092180,female,Tuvalu,43
10,Zackery,Senger,vivien84@hotmail.com,+19414047666,male,Wallis & Futuna,46
11,Reynold,Spencer,olson.jacey@fadel.info,+14083808864,male,Belize,47
12,Casey,Mraz,gianni.langosh@dickinson.com,+18289944444,male,China,40
13,Marianne,Hills,janet14@gottlieb.org,+17403406313,female,Côte d’Ivoire,50
14,Patsy,Luettgen,aschoen@moen.info,+16363784593,female,Brazil,48
15,Tito,Quigley,casper81@yahoo.com,+17863591691,male,Niue,59
16,Rhett,Schoen,ludie.schultz@damore.info,+18602698252,male,Mali,41
17,Albertha,Kirlin,tess.bailey@ruecker.org,+18649787859,female,Sweden,47
18,Ellen,Bechtelar,cmcclure@becker.com,+13512692454,female,Anguilla,53
19,Nathanael,Feeney,ezulauf@turcotte.info,+15208804070,male,Sri Lanka,47
20,Reese,Reichert,lharber@hotmail.com,+12345326700,male,New Caledonia,55

In [121]:
# create a dictionary with ages and their frequency in the dataset
## to_dict() converts the output to a Python dictionary
## value_counts() returns a dictionary-like value:frequency pairs of each unique value
ages = df.age.value_counts().to_dict()

## display the result 
print(ages)

# display the number of xx-year-old persons
# print('number of 50 year-old persons:', ages[60])

{14: 4, 33: 4, 84: 3, 24: 3, 40: 3, 47: 3, 29: 2, 88: 2, 76: 2, 10: 2, 62: 2, 73: 2, 42: 2, 17: 2, 21: 2, 30: 2, 50: 2, 8: 2, 22: 1, 65: 1, 4: 1, 51: 1, 31: 1, 38: 1, 85: 1, 70: 1, 48: 1, 59: 1, 41: 1, 53: 1, 5: 1, 66: 1, 23: 1, 89: 1, 6: 1, 27: 1, 86: 1, 34: 1, 61: 1, 49: 1, 52: 1, 18: 1, 71: 1, 25: 1, 87: 1, 46: 1, 2: 1, 39: 1, 68: 1, 11: 1, 35: 1, 60: 1, 43: 1, 55: 1}

----------------------------------


The marketing department requested a list of customers of 18 and older ages.

In [122]:
# remove children younger than 18
df = df[df['age']>=18]
df.shape

(65, 7)

In [123]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 65 entries, 0 to 79
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   firstname  65 non-null     object
 1   lastname   65 non-null     object
 2   email      65 non-null     object
 3   phone      65 non-null     object
 4   gender     65 non-null     object
 5   country    65 non-null     object
 6   age        65 non-null     int8
dtypes: int8(1), object(6)
memory usage: 3.6+ KB

In [124]:
df.head()

,firstname,lastname,email,phone,gender,country,age
0,Lazaro,Kuhic,zboncak.johanna@gmail.com,+13208042718,male,Malta,51
1,Nelle,McClure,powlowski.richmond@yahoo.com,+15595494884,female,Luxembourg,40
2,Damien,Hammes,mohr.zander@beier.com,+18282736672,male,Cook Islands,34
3,Jedidiah,Rolfson,leannon.domenico@gmail.com,+13464802710,male,Niue,61
4,Coty,Purdy,tess38@considine.com,+13108836091,male,Sri Lanka,49

-------------------------------

### Data loading

Store the data cleaned data into a `csv` file:

In [125]:
df.to_csv('persons_cleaned.csv', sep=',', index=False)